# venv
.venv/
venv/

#env
.env

# python
__pycache__/
*.pyc

# artifacts (인덱스 결과물)
artifacts/
*.joblib
*.npz
*.parquet

# data (크롤링 데이터)
data/

# eval (라벨링 데이터)
eval/qrels.csv
eval/run.csv

# OS
.DS_Store
